:host {
    display: block;
}

.chart-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.chart-container {
    position: relative;
    height: 300px;
    width: 100%;

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

// Media Queries for responsiveness
@media (max-width: 768px) {
    .chart-container {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .chart-container {
        height: 200px;
    }
}